################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Win32/Debug
/__history
/AdventOfCode2023.identcache
/AdventOfCode2023.dproj.local
